.pokemon-card {
    position: relative;
    width: var(--card-w, 88px);
    height: calc(var(--card-w, 88px) * 1.4);
}

.card-images {
    position: relative;
    width: 100%;
    height: 100%;
}

.pokemon-image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    --pokemon-image-shift-x: 0px;
    --pokemon-image-shift-y: 0px;
    --pokemon-image-hover-lift: 0px;
    --pokemon-image-scale: 1;
    transform: translate(
      var(--pokemon-image-shift-x),
      calc(var(--pokemon-image-shift-y) + var(--pokemon-image-hover-lift))
    ) scale(var(--pokemon-image-scale));
    width: var(--card-w, 88px);
    height: auto;
    border-radius: var(--radius-sm, 8px);
}

.damage-badge {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 10;
}

.status-badges {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
}

.status-badge {
    display: block;
    margin-bottom: 2px;
}
