.pokemon-card {
    position: relative;
    width: var(--card-w, 88px);
    height: calc(var(--card-w, 88px) * 1.4);
}

.card-images {
    position: relative;
    width: 100%;
    height: 100%;
}

.pokemon-image {
    position: absolute;
    width: var(--card-w, 88px);
    height: auto;
}

.damage-badge {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 10;
}

.status-badges {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
}

.status-badge {
    display: block;
    margin-bottom: 2px;
}
